:root {
    /* Font */
        --font-principal: "Dm Sans" , sans-serif;

    /* Colors */
        /* cores da página */
        --color-principal: rgb(15, 211, 41);
        --color-secondary: #fff;
        --color-background-sidebar:#b3b3b3;
        
        /* cores dos botões do header */
        --color-bg-icons: #131313;
        --color-arrow-bg: rgba(0,0,07)

        /* cores do footer */
        
    }